body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #03dac6;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #1e1e1e;
    border: 2px solid #03dac6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #333333;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #121212;
    background-color: #03dac6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #03dac6;
    color: #ffffff;
}
